html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

@font-face {
  font-family: GraphikLCG;
  font-style: normal;
  font-weight: 400;
  src: url(/testLab/src/fonts/GraphikLCG-Regular.woff2);
}
@font-face {
  font-family: GraphikLCG;
  font-style: normal;
  font-weight: 600;
  src: url(/testLab/src/fonts/GraphikLCG-Semibold.woff2);
}
body,
html {
  min-height: 100vh;
}

body {
  font-family: GraphikLCG;
  width: 100%;
  font-size: 10px;
  color: #191C1F;
  overflow-x: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.container {
  max-width: 1216px;
  margin: 0 auto;
}
@media (max-width: 1251px) {
  .container {
    max-width: 725px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 350px;
  }
}

.section-title {
  font-weight: 700;
  font-size: 4em;
  line-height: 56px;
}
@media (max-width: 768px) {
  .section-title {
    font-size: 2.4em;
    line-height: 32px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  z-index: 20;
  color: #fff;
}
.header-container {
  max-width: 1216px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-title {
  position: relative;
  font-size: 2em;
  font-weight: 700;
  line-height: 2.4em;
  padding-left: 46px;
  z-index: 40;
}
.header-title::after {
  content: "";
  position: absolute;
  top: 0.6em;
  left: 0;
  background-image: url(/testLab/src/header/blue.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 24px;
  height: 24px;
  transition: background-image 0.3s;
}
.header-title::before {
  content: "";
  position: absolute;
  top: 0.6em;
  left: 13px;
  background-image: url(/testLab/src/header/white.svg);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
}
.header-title:hover::after {
  background-image: url(/testLab/src/header/blue-hover.svg);
}
.header-title.open-menu {
  color: #191C1F;
}
.header-menu--list {
  display: flex;
  flex-direction: row;
  gap: 24px;
  font-size: 1.6em;
  line-height: 2.4em;
}
.header-menu--li {
  display: inline-block;
  background-image: linear-gradient(#fff, #fff);
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}
.header-menu--li:hover {
  background-size: 100% 2px;
}
.header-burger {
  display: none;
  cursor: pointer;
  width: 62px;
  height: 62px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-burger--icon {
  width: 100%;
  height: 100%;
  background: center center no-repeat url(/testLab/src/header/burger.svg);
  z-index: 40;
}
.header-burger--icon.open-menu {
  background: center center no-repeat url(/testLab/src/header/close.svg);
  z-index: 40;
}
@media (max-width: 1251px) {
  .header-container {
    max-width: 725px;
  }
  .header-title {
    margin-left: 20px;
  }
  .header-burger {
    display: flex;
  }
  .header-menu {
    display: block;
    position: absolute;
    top: 0;
    padding-top: 80px;
    background: #fff;
    width: 100%;
    height: 100vh;
    color: #83898F;
    right: -100%;
    transition: all 0.4s ease;
  }
  .header-menu--list {
    flex-direction: column;
    gap: 0;
    box-sizing: border-box;
  }
  .header-menu--li {
    position: relative;
    padding: 16px 0;
    margin: 0 16px;
    border-top: 1px #ECEFF2 solid;
    font-size: 18px;
    line-height: 32px;
  }
  .header-menu--li:last-child {
    border-bottom: 1px #ECEFF2 solid;
  }
  .header-menu--li::after {
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    top: 20px;
    right: 0;
    background: no-repeat url(/testLab/src/header/menu-arrow.svg);
  }
  .header-menu.open-menu {
    right: 0;
  }
}

.mainscreen {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.mainscreen-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.mainscreen-bg img {
  height: 100%;
}
.mainscreen-bg::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  background: #2A6CEA;
  opacity: 0.8;
}
.mainscreen-img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainscreen-content {
  z-index: 10;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}
.mainscreen-title {
  font-size: 5.2em;
  line-height: 64px;
  font-weight: 600;
  margin-bottom: 18px;
}
.mainscreen-subtitle {
  font-size: 1.8em;
  line-height: 32px;
  margin-bottom: 92px;
}
.mainscreen-btn {
  color: #191C1F;
  font-size: 2em;
  font-weight: 600;
  line-height: 24px;
  padding: 20px 40px;
  background-color: #ECEFF2;
  border-radius: 4px;
  transition: background-color 0.3s;
}
.mainscreen-btn:hover {
  background-color: #C2C8CD;
}
@media (max-width: 1251px) {
  .mainscreen-title {
    font-size: 3.2em;
    line-height: 40px;
  }
  .mainscreen-subtitle {
    font-size: 1.6em;
    line-height: 28px;
    margin-bottom: 40px;
  }
  .mainscreen-content {
    max-width: 500px;
  }
}
@media (max-width: 768px) {
  .mainscreen-title {
    font-size: 2.4em;
    line-height: 32px;
    margin-bottom: 10px;
  }
  .mainscreen-subtitle {
    margin-bottom: 26px;
  }
  .mainscreen-content {
    max-width: 300px;
  }
}

.howdoesit {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  padding: 80px 0;
}
.howdoesit-title {
  margin-bottom: 60px;
}
.howdoesit-tablet {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  gap: 32px;
  margin-bottom: 80px;
}
.howdoesit-item {
  display: flex;
  flex-direction: column;
}
.howdoesit-item--icon {
  width: 72px;
  margin-bottom: 16px;
}
.howdoesit-item--title {
  font-weight: 600;
  font-size: 1.6em;
  line-height: 24px;
}
.howdoesit-item--text {
  font-size: 1.4em;
  line-height: 24px;
  color: #5E646A;
}
.howdoesit-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}
.howdoesit-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 592px;
}
.howdoesit-content--title {
  font-weight: 600;
  font-size: 3.2em;
  line-height: 40px;
}
.howdoesit-content--text {
  font-size: 1.6em;
  line-height: 28px;
  color: #5E646A;
}
.howdoesit-content--text span:not(:last-child) {
  display: inline-block;
  margin-bottom: 28px;
}
.howdoesit-img {
  max-width: 592px;
}
.howdoesit-img img {
  width: 100%;
  height: 100%;
}
@media (max-width: 1251px) {
  .howdoesit {
    padding: 56px 0;
  }
  .howdoesit-title {
    margin-bottom: 40px;
  }
  .howdoesit-item {
    flex-direction: row;
  }
  .howdoesit-item--icon {
    margin-right: 16px;
  }
  .howdoesit-tablet {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 56px;
  }
  .howdoesit-img {
    width: 351px;
  }
  .howdoesit-content {
    max-width: 351px;
  }
  .howdoesit-content--title {
    font-size: 2em;
    line-height: 24px;
  }
}
@media (max-width: 768px) {
  .howdoesit {
    padding: 56px 0;
  }
  .howdoesit-title {
    margin-bottom: 26px;
  }
  .howdoesit-tablet {
    grid-template-columns: 1fr;
    margin-bottom: 56px;
  }
  .howdoesit-wrapper {
    flex-direction: column-reverse;
  }
  .howdoesit-content {
    text-align: center;
  }
  .howdoesit-content--title {
    padding: 0 10px;
  }
}

.reviews {
  background-color: #F6F8FA;
  padding: 55px 0 45px;
  text-align: center;
}
.reviews .reviews-title {
  margin-bottom: 32px;
}
.reviews-wrapper {
  max-width: 1216px;
  margin: 0 auto;
}
.reviews-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1251px) {
  .reviews {
    padding: 33px 0 45px;
  }
  .reviews-wrapper {
    padding: 0;
  }
}

.slider {
  width: 100%;
  position: relative;
}
.slider-item {
  display: flex;
  flex-direction: column;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  padding: 22px 22px 38px;
  margin: 0 16px 50px;
  box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.1);
  text-align: left;
  cursor: pointer;
}
.slider-item--header {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.slider-item--avatar {
  width: 44px;
  overflow: hidden;
  border-radius: 50%;
}
.slider-item--info {
  margin-bottom: 20px;
}
.slider-item--name {
  font-size: 1.6em;
  line-height: 24px;
  font-weight: 600;
}
.slider-item--city {
  color: #5E646A;
  font-size: 1.2em;
  line-height: 16px;
}
.slider-item--content {
  font-size: 1.4em;
  line-height: 24px;
}
@media (max-width: 1251px) {
  .slider-item {
    width: 352px;
  }
}

.slick-track {
  display: flex;
  height: 100%;
  top: 0;
  left: 0;
}
.slick-list {
  overflow: hidden;
  width: 88%;
}
.slick-prev {
  left: 0;
  top: 0;
  position: absolute;
  z-index: 10;
  font-size: 0;
  height: 100%;
  width: 60px;
  background: no-repeat center center url(/testLab/src/reviews/arrow.svg);
  border: 0;
}
.slick-prev:hover {
  background-image: url(/testLab/src/reviews/arrow-hover.svg);
  transform: scaleX(-1);
}
.slick-next {
  right: 0;
  top: 0;
  position: absolute;
  z-index: 10;
  font-size: 0;
  height: 100%;
  width: 60px;
  background: no-repeat center center url(/testLab/src/reviews/arrow.svg);
  transform: scaleX(-1);
  border: 0;
}
.slick-next:hover {
  background-image: url(/testLab/src/reviews/arrow-hover.svg);
  transform: scaleX(1);
}
.slick-dots {
  display: flex;
  align-items: center;
  gap: 17px;
}
.slick-dots li {
  list-style: none;
}
.slick-dots li.slick-active button {
  background-color: #2A6CEA;
  transition: background-color 0.3s;
}
.slick-dots button {
  font-size: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #C2C8CD;
}
@media (max-width: 1251px) {
  .slick-prev, .slick-next {
    display: none;
    width: 0;
  }
}

.footer {
  padding: 80px 0 0;
}
.footer-text {
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px #ECEFF2 solid;
  font-size: 1.8em;
  line-height: 32px;
}
@media (max-width: 1251px) {
  .footer {
    padding: 40px 0 0;
  }
}
@media (max-width: 375px) {
  .footer {
    padding: 30px 0 0;
  }
}