// Null styles ====================
@import "_null.scss";

// Fonts ==========================
@font-face {
    font-family: GraphikLCG;
    font-style: normal;
    font-weight: 400;
    src: url(/testLab/src/fonts/GraphikLCG-Regular.woff2);
}
@font-face {
    font-family: GraphikLCG;
    font-style: normal;
    font-weight: 600;
    src: url(/testLab/src/fonts/GraphikLCG-Semibold.woff2);
}
// Main styles ====================
body,
html {
    min-height: 100vh;
}
body {
    font-family: GraphikLCG;
    width: 100%;
    font-size: 10px;
    color: #191C1F;
    overflow-x: hidden;
}
.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
.container {
    max-width: 1216px;
    margin: 0 auto;
    @media (max-width:1251px) {
        max-width: 725px;
    }
    @media (max-width:768px) {
        max-width: 350px;
    }
}

.section-title{
    font-weight: 700;
    font-size: 4em;
    line-height: 56px;
    @media (max-width:768px) {
        font-size: 2.4em;
        line-height: 32px;
    }
}

// Header ==========================
.header {
    position: absolute;
    top: 0;
    left: 0;
    height: 80px;
    width: 100%;
    z-index: 20;
    color: #fff;
    &-container{
        max-width: 1216px;
        height: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &-title {
        position: relative;
        font-size: 2em;
        font-weight: 700;
        line-height: 2.4em;
        padding-left: 46px;
        z-index: 40;
        &::after {
            content: '';
            position: absolute;
            top: 0.6em;
            left: 0;
            background-image: url(/testLab/src/header/blue.svg);
            background-repeat: no-repeat;
            background-size: 100%;
            width: 24px;
            height: 24px;
            transition: background-image 0.3s;
        }
        &::before {
            content: '';
            position: absolute;
            top: 0.6em;
            left: 13px;
            background-image: url(/testLab/src/header/white.svg);
            background-repeat: no-repeat;
            width: 24px;
            height: 24px;
        }
        &:hover::after {
            background-image: url(/testLab/src/header/blue-hover.svg);
        }
        &.open-menu {
            color: #191C1F;
        }
    }
    &-menu {
        &--list {
            display: flex;
            flex-direction: row;
            gap: 24px;
            font-size: 1.6em;
            line-height: 2.4em;
        }
        &--li {
            display: inline-block;
            background-image: linear-gradient(#fff, #fff);
            background-position: 50% 100%;
            background-repeat: no-repeat;
            background-size: 0% 2px;
            transition: background-size .3s;
            &:hover{
                background-size: 100% 2px;
            }
        }
    }
    &-burger {
        display: none;
        cursor: pointer;
        width: 62px;
        height: 62px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--icon {
            width: 100%;
            height: 100%;
            background: center center no-repeat url(/testLab/src/header/burger.svg);
            z-index: 40;
            &.open-menu{
                background: center center no-repeat url(/testLab/src/header/close.svg);
                z-index: 40;
            }
        }
    }
    @media (max-width:1251px) {
        &-container {
            max-width: 725px;
        }
        &-title{
            margin-left: 20px;
        }
        &-burger {
            display: flex;
        }
        &-menu {
            display: block;
            position: absolute;
            top: 0;
            padding-top: 80px;
            background: #fff;
            width: 100%;
            height: 100vh;
            color: #83898F;
            right: -100%;
            transition: all 0.4s ease;
            &--list {
                flex-direction: column;
                gap: 0;
                box-sizing: border-box;
            }
            &--li {
                position: relative;
                padding: 16px 0;
                margin: 0 16px;
                border-top: 1px #ECEFF2 solid;
                font-size: 18px;
                line-height: 32px;
                &:last-child{
                    border-bottom: 1px #ECEFF2 solid;
                }
                &::after {
                    content: '';
                    position: absolute;
                    height: 24px;
                    width: 24px;
                    top: 20px;
                    right: 0;
                    background: no-repeat url(/testLab/src/header/menu-arrow.svg);
                }
            }
            &.open-menu{
                right: 0;
            }
        }
    }
}

// Mainscreen ======================
.mainscreen {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        & img {
            height: 100%;
        }
        &::after{
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 10;
            background: #2A6CEA;
            opacity: 0.8;
        }
    }
    &-img{
        width: 100%;
        object-fit: cover;
    }
    &-content {
        z-index: 10;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        color: #fff;
    }
    &-title {
        font-size: 5.2em;
        line-height: 64px;
        font-weight: 600;
        margin-bottom: 18px;
    }
    &-subtitle {
        font-size: 1.8em;
        line-height: 32px;
        margin-bottom: 92px;
    }
    &-btn {
        color: #191C1F;
        font-size: 2em;
        font-weight: 600;
        line-height: 24px;
        padding: 20px 40px;
        background-color: #ECEFF2;
        border-radius: 4px;
        transition: background-color .3s;
        &:hover{
            background-color: #C2C8CD;
        }
    }
    @media (max-width:1251px) {
        &-title {
            font-size: 3.2em;
            line-height: 40px;
        }
        &-subtitle {
            font-size: 1.6em;
            line-height: 28px;
            margin-bottom: 40px;
        }
        &-content {
            max-width: 500px;
        }
    }
    @media (max-width:768px) {
        &-title {
            font-size: 2.4em;
            line-height: 32px;
            margin-bottom: 10px;
        }
        &-subtitle {
            margin-bottom: 26px;
        }
        &-content {
            max-width: 300px;
        }
    }
}

// HowDoesIt =======================
.howdoesit {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    padding: 80px 0;
    &-title {
        margin-bottom: 60px;
    }
    &-tablet {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 100%;
        gap: 32px;
        margin-bottom: 80px;
    }
    &-item {
        display: flex;
        flex-direction: column;
        &--icon {
            width: 72px;
            margin-bottom: 16px;
        }
        &--title {
            font-weight: 600;
            font-size: 1.6em;
            line-height: 24px;
        }
        &--text {
            font-size: 1.4em;
            line-height: 24px;
            color: #5E646A;
        }
    }
    &-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 32px;
    }
    &-content {
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 592px;
        &--title {
            font-weight: 600;
            font-size: 3.2em;
            line-height: 40px;
        }
        &--text {
            font-size: 1.6em;
            line-height: 28px;
            color: #5E646A;
            & span:not(:last-child){
                display: inline-block;
                margin-bottom: 28px;
            }
        }
    }
    &-img {
        max-width: 592px;
        & img {
            width: 100%;
            height: 100%;
        }
    }
    @media (max-width:1251px) {
        padding: 56px 0;
        &-title {
            margin-bottom: 40px;
        }
        &-item {
            flex-direction: row;
            &--icon{
                margin-right: 16px;
            }
        }
        &-tablet {
            grid-template-columns: repeat(2, 1fr);
            margin-bottom: 56px;
        }
        &-img {
            width: 351px;
        }
        &-content {
            max-width: 351px;
            &--title {
                font-size: 2em;
                line-height: 24px;
            }
        }
    }
    @media (max-width:768px) {
        padding: 56px 0;
        &-title {
            margin-bottom: 26px;
        }
        &-tablet {
            grid-template-columns: 1fr;
            margin-bottom: 56px;
        }
        &-wrapper {
            flex-direction: column-reverse;
        }
        &-content {
            text-align: center;
            &--title {
                padding: 0 10px;
            }
        }
    }
}

// Reviews =========================
.reviews {
    background-color: #F6F8FA;
    padding: 55px 0 45px;
    text-align: center;
    .reviews-title {
        margin-bottom: 32px;
    }
    &-wrapper{
        max-width:1216px;
        margin: 0 auto;
    }
    &-slider {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @media (max-width:1251px) {
        padding: 33px 0 45px;
        &-wrapper{
            padding: 0;
        }
    }
}
.slider {
    width: 100%;
    position: relative;
    &-item {
        display: flex;
        flex-direction: column;
        height: fit-content;
        
        background-color: #fff;
        border-radius: 8px;
        box-sizing: border-box;
        padding: 22px 22px 38px;
        margin: 0 16px 50px;
        box-shadow: 0px 10px 24px rgba(0, 0, 0, 0.1);
        
        text-align: left;
        cursor: pointer;
        &--header {
            display: flex;
            flex-direction: row;
            gap: 16px;
        }
        &--avatar {
            width: 44px;
            overflow: hidden;
            border-radius: 50%;
        }
        &--info {
            margin-bottom: 20px;
        }
        &--name {
            font-size: 1.6em;
            line-height: 24px;
            font-weight: 600;
        }
        &--city {
            color: #5E646A;
            font-size: 1.2em;
            line-height: 16px;
        }
        &--content {
            font-size: 1.4em;
            line-height: 24px;
        }
        
    }
    @media (max-width:1251px) {
        &-item{
            width: 352px;
        }
    }
}
.slick {
	&-track {
		display: flex;
		height: 100%;
        top: 0;
        left: 0;
	}
	&-list {
		overflow: hidden;
        width: 88%;
	}
    &-prev{
		left: 0;
        top: 0;
		position: absolute;
		z-index: 10;
		font-size: 0;
		height: 100%;
		width: 60px;
		background: no-repeat center center url(/testLab/src/reviews/arrow.svg);
		border: 0;
        &:hover {
            background-image: url(/testLab/src/reviews/arrow-hover.svg);
            transform: scaleX(-1);
        }
	}
    &-next{
		right: 0;
        top: 0;
		position: absolute;
		z-index: 10;
		font-size: 0;
		height: 100%;
		width: 60px;

		background: no-repeat center center url(/testLab/src/reviews/arrow.svg);
        transform: scaleX(-1);
		border: 0;
        &:hover {
            background-image: url(/testLab/src/reviews/arrow-hover.svg);
            transform: scaleX(1);
        }
	}
    &-dots {
        display: flex;
        align-items: center;
        gap: 17px;
        & li {
            list-style: none;
            &.slick-active button{
                background-color: #2A6CEA;
                transition: background-color .3s;
            }
        }
        & button {
            font-size: 0;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #C2C8CD;
        }
    }
    @media (max-width:1251px) {
        &-prev,
        &-next{
            display: none;
            width: 0;
        }
    }
}

// Footer =========================
.footer {
    padding: 80px 0 0;
    &-text {
        height: 88px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px#ECEFF2 solid;

        font-size: 1.8em;
        line-height: 32px;
    }
    @media (max-width:1251px) {
        padding: 40px 0 0;
    }
    @media (max-width:375px) {
        padding: 30px 0 0;
    }
}